{% extends "Manager/base_site_manager.html" %} {% block title %} Manager | Areas
{% endblock %} {%block content %} {% load static %}
<div class="row cards-row">
  <form
    class="row blocks d-flex justify-content-center align-items-center my-5"
    method="GET"
    id="filter_form"
  >
    <div class="col-lg-6 d-flex justify-content-center align-items-center mt-5">
      <input type="text" class="d-none" name="residential" id="residential" />
      <button
        class="btn"
        onclick="document.getElementById('residential').value='R'; document.getElementById('filter_form').submit(); return false;"
      >
        <span class="btn-text-one">Residential</span>
        <span class="btn-text-two">Area</span>
      </button>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center mt-5">
      <input class="d-none" type="text" name="commercial" id="commercial" />
      <button
        class="btn"
        onclick="document.getElementById('commercial').value='C'; document.getElementById('filter_form').submit(); return false;"
      >
        <span class="btn-text-one">Commercial</span>
        <span class="btn-text-two">Area</span>
      </button>
    </div>
  </form>
  {%for i in areas%}

  <div class="card col-lg-3 col-sm-12 col-md-6 mx-4 my-4">
    <a href="{% url 'meters' area_id=i.id %}">
      <div class="top-section d-flex justify-content-center align-items-center">
        <img src="{% static '/css/homepage.gif' %}" alt="" width="140px" />
      </div>
    </a>
    <div class="bottom-section">
      <span class="title">{{i.house_number}} - {{i.area_block}}</span>
      <div class="row row1">
        <div class="item">
          <span class="big-text">Area type</span>
          <span class="regular-text">{{i.area_type|upper }}</span>
        </div>
        <div class="item">
          <span class="big-text">Bill staus</span>
          {% if i.bill_paid_status == 'unpaid'%}
          <span class="regular-text" style="color: red"
            >{{i.bill_paid_status|upper}}</span
          >
          {%else%}
          <span class="regular-text" style="color: green"
            >{{i.bill_paid_status|upper}}</span
          >
          {%endif%}
        </div>
      </div>
    </div>
  </div>

  {%endfor%}
</div>
{% endblock %}
