{% extends "base_site.html" %} {% block title %} Add Area{% endblock %}
<!-- asdasd -->
{%block content %}
<div>
  {% if not messages %}
  <form class="my-form" id="my-form" enctype="multipart/form-data" method="POST">
    {%csrf_token %}
    <div class="container">
      <h1>Add Unit Prices</h1>
      <ul>
        <li>
          <div>
            <label for="fine" class="text-light">Fine After Due Date</label>
            <input type="number" name="fine" value="{{fine_after_due_date.fine_after_due_date}}"
              placeholder="Fine After Due Date (%)" required />

          </div>
        </li>
        <li>
          <div>

            <label for="fine_date" class="text-light">Due Date for fine</label>
            <input type="date" name="fine_date" value="{{fine_due_date}}" placeholder="Select Fine date" />

          </div>
        </li>
        <li>
          <div>

            <label for="m_charges" class="text-light">Miscellaneous 2charges</label>
            <input type="number" name="m_charges" value="{{m_charges.miscellaneous_charges}}"
              placeholder="Miscellaneous Charges" required />

          </div>
        </li>
        <div class="inputs-range">
          <li class="details mt-4">
            <label for="fine" class="text-light">Unit price Residential -
              {{first_range_of_unitValues.range_of_units_residential|floatformat:"0"}}</label>
            <input type="range" max="5000" name="first_range_input_r" id="range_unit_200" min="0"
              value="{{first_range_of_unitValues.range_of_units_residential}}" step="1"
              onchange="updatevalues('range_unit_200','unit_charges_200', 'range_unit_200', '400_unit_price_header')">
            <input type="text" name="m_charges"
              value="{{first_range_of_unitValues.range_of_units_residential|floatformat:'0'}}" id="unit_charges_200"
              disabled placeholder="Range" required />
            <input type="number" name="first_range_unit_charges_r"
              value="{{first_range_of_unitValues.unit_price_for_first_range_residentails}}" placeholder="Unit Price"
              required />
          </li>
          <li class="details mt-4">
            <label for="fine" id="400_unit_price_header" class="text-light">Unit price Residential -
              {{second_range_of_unit_values.range_of_units_residential|floatformat:"0"}}</label>
            <input type="range" max="5000" name="second_range_input_r"
              value="{{second_range_of_unit_values.range_of_units_residential}}" id="range_unit_400" min="200" value="1"
              step="1"
              onchange="updatevalues('range_unit_400','unit_charges_400', 'range_unit_200', '600_unit_price_header')">
            <input type="text" name="m_charges"
              value="{{second_range_of_unit_values.range_of_units_residential|floatformat:'0'}}" id="unit_charges_400"
              placeholder="Range" disabled required />
            <input type="number" value="{{second_range_of_unit_values.unit_price_for_second_range_residentails}}"
              name="second_range_unit_charges_r" placeholder="Unit Price" required />
          </li>
          <li class="details mt-4">
            <label for="fine" id="600_unit_price_header" class="text-light">Unit price Residential -
              {{third_range_of_unit_values.range_of_units_residential|floatformat:"0"}}</label>
            <input type="range" max="5000" name="third_range_input_r" id="range_unit_600" min="400"
              value="{{third_range_of_unit_values.range_of_units_residential}}" step="1"
              onchange="updatevalues('range_unit_600','unit_charges_600', 'range_unit_400', '800_unit_price_header')">
            <input type="text" name="m_charges"
              value="{{third_range_of_unit_values.range_of_units_residential|floatformat:'0'}}" id="unit_charges_600"
              placeholder="Range" disabled required />
            <input type="number" name="third_range_unit_charges_r"
              value="{{third_range_of_unit_values.unit_price_for_third_range_residentails}}" placeholder="Unit Price"
              required />
          </li>
          <li class="details mt-4">
            <label for="fine" id="800_unit_price_header" class="text-light">Unit price Residential -
              {{fourth_range_of_unit_values.range_of_units_residential|floatformat:"0"}}</label>
            <input type="range" max="5000" name="fourth_range_input_r" id="range_unit_800" min="400"
              value="{{fourth_range_of_unit_values.range_of_units_residential}}" step="1"
              onchange="updatevalues('range_unit_800','unit_charges_800', 'range_unit_600', 'range_unit_800')">
            <input type="text" name="m_charges"
              value="{{fourth_range_of_unit_values.range_of_units_residential|floatformat:'0'}}" id="unit_charges_800"
              placeholder="Range" disabled required />
            <input type="number" name="fourth_range_unit_charges_r"
              value="{{fourth_range_of_unit_values.unit_price_for_fourht_range_residentails}}" placeholder="Unit Price"
              required />
          </li>
        </div>
        <div class="inputs-range">
          <li class="details mt-4">
            <label for="fine" class="text-light">Unit price Commercial -
              {{first_range_of_unitValues.range_of_units_commercial|floatformat:"0"}}</label>
            <input type="range" max="5000" name="first_range_input_c" id="range_unit_200_c"
              value="{{first_range_of_unitValues.range_of_units_commercial}}" id="range_unit_200_c" min="0" value="0"
              step="1"
              onchange="updatevalues('range_unit_200_c','unit_charges_200_c', 'range_unit_200_c', '400_unit_price_header_c')">
            <input type="text" value="{{first_range_of_unitValues.range_of_units_commercial|floatformat:'0'}}"
              name="m_charges" id="unit_charges_200_c" disabled placeholder="Range" required />
            <input type="number" name="first_range_unit_charges_c"
              value="{{first_range_of_unitValues.unit_price_for_first_range_wdcommercial}}" placeholder="Unit Price"
              required />
          </li>
          <li class="details mt-4">
            <label for="fine" class="text-light" id="400_unit_price_header_c">Unit price Commercial -
              {{second_range_of_unit_values.range_of_units_commercial|floatformat:"0"}}</label>
            <input type="range" value="{{second_range_of_unit_values.range_of_units_commercial}}" max="5000"
              name="second_range_input_c" id="range_unit_400_c" min="200" value="1" step="1"
              onchange="updatevalues('range_unit_400_c','unit_charges_400_c','range_unit_200_c', '600_unit_price_header_c')">
            <input type="text" value="{{second_range_of_unit_values.range_of_units_commercial|floatformat:'0'}}"
              name="m_charges" id="unit_charges_400_c" placeholder="Range" disabled required />
            <input type="number" value="{{second_range_of_unit_values.unit_price_for_second_range_wdcommercial}}"
              name="second_range_unit_charges_c" placeholder="Unit Price" required />
          </li>
          <li class="details mt-4">
            <label for="fine" class="text-light" id="600_unit_price_header_c">Unit price Commercial -
              {{third_range_of_unit_values.range_of_units_commercial|floatformat:"0"}}</label>
            <input type="range" value="{{third_range_of_unit_values.range_of_units_commercial}}" max="5000"
              name="third_range_input_c" id="range_unit_600_c" min="400" value="1" step="1"
              onchange="updatevalues('range_unit_600_c','unit_charges_600_c','range_unit_400_c', '800_unit_price_header_c')">
            <input type="text" value="{{third_range_of_unit_values.range_of_units_commercial|floatformat:'0'}}"
              name="m_charges" id="unit_charges_600_c" placeholder="Range" disabled required />
            <input type="number" value="{{third_range_of_unit_values.unit_price_for_third_range_wdcommercial}}"
              name="third_range_unit_charges_c" placeholder="Unit Price" required />
          </li>
          <li class="details mt-4">
            <label for="fine" class="text-light" id="800_unit_price_header_c">Unit price Commercial -
              {{fourth_range_of_unit_values.range_of_units_commercial|floatformat:"0"}}</label>
            <input type="range" value="{{fourth_range_of_unit_values.range_of_units_commercial}}" max="5000"
              name="fourth_range_input_c" id="range_unit_800_c" min="400" value="1" step="1"
              onchange="updatevalues('range_unit_800_c','unit_charges_800_c','range_unit_600_c', '800_unit_price_header')">
            <input type="text" value="{{fourth_range_of_unit_values.range_of_units_commercial|floatformat:'0'}}"
              name="m_charges" id="unit_charges_800_c" placeholder="Range" disabled required />
            <input type="number" value="{{fourth_range_of_unit_values.unit_price_for_fourth_range_wdcommercial}}"
              name="fourth_range_unit_charges_c" placeholder="Unit Price" required />
          </li>
        </div>
        <li>
          <input type="checkbox" id="terms" />
          <label for="terms" style="color: red;">Confirm
        </li>
        <li>
          <div class="grid grid-3">
            <div class="required-msg">REQUIRED FIELDS</div>
            <button class="btn-grid" type="submit"
              onclick="document.getElementById('my-form').submit();  document.getElementById('my-form').style.display='none';return false;"
              disabled>
              <span class="back">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/email-icon.svg" alt="" />
              </span>
              <span class="front">SUBMIT</span>
            </button>
            <button class="btn-grid" type="reset" disabled>
              <span class="back">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/eraser-icon.svg" alt="" />
              </span>
              <span class="front">RESET</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </form>
  {%endif%}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <div class="box">
      {% if message.tags == 'success' %}
      <div class="success alert">
        <div class="alert-body">
          {{ message }}
        </div>
      </div>
      {% else %}
      <div class="error alert">
        <div class="alert-body">
          {{ message }}
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </ul>
  {% endif %}

</div>
<script>
  if (document.querySelector('.messages')) {
      setTimeout(function() {
        window.location.href = "/";
      }, 2000); // 2000 milliseconds = 2 seconds
    }
  var count = 0
  function showMore(event) {
    if (count === 0) {
      meter_li = document.getElementsByClassName('meter-li1')
      console.log(count);
      for (const i of meter_li) {
        i.style.display = 'block'
      }
      count += 1
    }
    else if (count === 1) {
      meter_li = document.getElementsByClassName('meter-li2')
      console.log(count);
      for (const i of meter_li) {
        i.style.display = 'block'
      }
      count += 1

    }

  }
  const checkbox = document.querySelector('.my-form input[type="checkbox"]');
  const btns = document.querySelectorAll(".my-form button");

  checkbox.addEventListener("change", function () {
    const checked = this.checked;
    for (const btn of btns) {
      checked ? (btn.disabled = false) : (btn.disabled = true);
    }
  });
  function updatevalues(range_input, input_id, min_range, header_id) {
    document.getElementById(header_id).innerHTML = "Unit price Residential - " + document.getElementById(range_input).value
    console.log(min_range);

    var rangeValue = parseInt(document.getElementById(range_input).value, 10);
    var result = document.getElementById(min_range).value + " - " + rangeValue.toString();

    document.getElementById(input_id).value = result.toString()
  }


</script>
{%endblock%}