{% extends "base_site.html" %} {% block title %} Admin | Home {% endblock %}
{%block content %} {% load static %}
<div class="p-5 d-flex search_filter justify-content-center align-items-center">

  <form class="input__container input__container--variant mx-5" method="GET">
    <div class="shadow__input shadow__input--variant"></div>
    <input type="text" name="house_no" class="input__search input__search--variant" placeholder="Search by House no">
    <button class="input__button__shadow input__button__shadow--variant">
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="1.5em" width="13em">
        <path d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z" fill-rule="evenodd" fill="#FFF"></path>
      </svg>
    </button>
  </form>
  <form class="input__container input__container--variant mx-5" method="GET">
    <div class="shadow__input shadow__input--variant"></div>
    <input type="text" name="owner_name" class="input__search input__search--variant" placeholder="Search by Owner name">
    <button class="input__button__shadow input__button__shadow--variant">
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="1.5em" width="13em">
        <path d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z" fill-rule="evenodd" fill="#FFF"></path>
      </svg>
    </button>
  </form>
</div>
<div class="row cards-row">
  <form
    class="row blocks d-flex justify-content-center align-items-center"
    method="GET"
    id="filter_form"
  >
  <div class="col-lg-4 d-flex justify-content-center align-items-center mt-2" style="width: fit-content !important;">
    <input class="d-none" type="text" name="all" id="all" />
    <button class="btn"
      onclick="document.getElementById('all').value='A'; document.getElementById('filter_form').submit(); return false;">
      <span class="btn-text-one">All</span>
      <span class="btn-text-two">Areas</span>
    </button>
  </div>
    <div class="col-lg-4 d-flex justify-content-center align-items-center mt-2" style="width: fit-content !important;">
      <input type="text" class="d-none" name="residential" id="residential" />
      <button
        class="btn"
        onclick="document.getElementById('residential').value='R'; document.getElementById('filter_form').submit(); return false;"
      >
        <span class="btn-text-one">Residential</span>
        <span class="btn-text-two">Area</span>
      </button>
    </div>
    <div class="col-lg-4 d-flex justify-content-center align-items-center mt-2" style="width: fit-content !important;">
      <input class="d-none" type="text" name="commercial" id="commercial" />
      <button
        class="btn"
        onclick="document.getElementById('commercial').value='C'; document.getElementById('filter_form').submit(); return false;"
      >
        <span class="btn-text-one">Commercial</span>
        <span class="btn-text-two">Area</span>
      </button>
    </div>
  </form>
  {%for i in areas%}

  <div class="card col-lg-2 col-sm-5 col-md-4 mx-4 my-4" onmouseover="showinfo(`info-{{i.id}}`)" onmouseout="hideinfo(`info-{{i.id}}`)">
    <a href="{% url 'area_details' area_id=i.id %}">
      <div class="top-section d-flex justify-content-center align-items-center">
        <img src="{% static '/css/homepage.gif' %}" alt="" width="140px" />
      </div>
    </a>
    <div class="bottom-section">
      <span class="title">{{i.house_number}} - {{i.area_block}}</span>
      <div class="row row1">
        <div class="item">
          <span class="big-text">Area type</span>
          <span class="regular-text">{{i.area_type|upper }}</span>
        </div>
        <div class="item">
          <span class="big-text">Bill staus</span>
          {% if i.bill_paid_status == 'unpaid'%}
          <span class="regular-text" style="color: red"
            >{{i.bill_paid_status|upper}}</span
          >
          {% elif i.bill_paid_status == 'ipaid'%}
          <span class="regular-text" style="color: yellow; text-transform: uppercase;"
            >Partialy paid</span
          >
          {%else%}
          <span class="regular-text" style="color: green"
            >{{i.bill_paid_status|upper}}</span
          >
          {%endif%}
        </div>
      </div>
    </div>

    <div class="info-box" id="info-{{i.id}}">
      <p class="fw-bold text-dark">{{i.owners_name}}</p>
      
    </div>
  </div>
  {%endfor%}


</div>

<script>
  function showinfo(id){
    console.log(id);
    element = document.getElementById(id)
    element.classList.add('show');
  }
  function hideinfo(id){
    element = document.getElementById(id);
    element.classList.remove('show');
}
</script>
{% endblock %}
