<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-WAHAB GARDEN HOUSING SCHEME</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        *{
        font-size: 10px ;
        }
        body {
            font-family: 'Roboto', sans-serif;
        }
        .table-bordered {
            border-collapse: collapse;
        }
        .table-bordered th,
        .table-bordered td {
            border: 1px solid black;
            padding: 5px;
        }
        .bg-yellow-200 {
            background-color: #fefcbf;
        }
        .bg-blue-100 {
            background-color: #ebf8ff;
        }
        .text-red-600 {
            color: #dc2626;
        }
        .text-xl {
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
        .text-4xl {
            font-size: 2.25rem;
            line-height: 2.5rem;
        }
        .font-bold {
            font-weight: 700;
        }
        .cut-line {
            border-top: dashed 2px #000;
            border-bottom: none;
        }
    </style>
</head>
<body class="bg-white">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-4">
            <img src="{% static 'css/logo.jpg'%}" style="height: 13rem;" alt="AI-WAHAB GARDEN HOUSING SCHEME logo" >
            <h1 class="text-3xl font-bold">AI-WAHAB GARDEN HOUSING SCHEME</h1>
            <div class="text-right">
                <p class="text-xl"></p>
            </div>
        </div>

        <table class="table-bordered w-full mb-4">
            <tbody>
                <!-- Customer Information -->
                <tr>
                    <td colspan="2"><strong>BILL NO:</strong> {{last_bill.id}}</td>
                    <td><strong>READING DATE:</strong> {{last_bill.created_at | date:"d M y" | upper }}</td>
                    <td><strong>BILL DATE:</strong>  {{current_date | date:"d M y" | upper}}</td>
                    <td colspan="2"><strong>CUSTOMER NAME:</strong>  {{area_details.owners_name}}</td>
                    <td><strong>CUSTOMER PHONE:</strong> {{area_details.owners_phone_number}}</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>HOUSE NO:</strong>  {{area_details.house_number}}</td>
                    <td><strong>BLOCK:</strong>{{area_details.area_block}}</td>
                  
                    <td><strong>METER NO:</strong> {{meter.meter_id}}</td>
                    <td colspan="3"><strong>CUSTOMER ADDRESS:</strong>{{area_details.house_number}} / {{area_details.area_block}} </td>
                </tr>
                <!-- Reading Status -->
                <tr class="bg-yellow-200">
                    <td colspan="3"><strong>PREVIOUS READING</strong></td>
                    <td colspan="2"><strong>PRESENT READING</strong></td>
                    <td><strong>Miscellaneous Charges</strong></td>
                    <td><strong>STATUS</strong></td>
                </tr>
                <tr class="bg-yellow-200">
                    <td colspan="3">{{lastitem.bill_reading}}</td>
                    <td colspan="2">{{last_bill.bill_reading}}</td>
                    <td>{{m_charges.miscellaneous_charges}}</td>
                    <td class="text-red-600 font-bold">{{last_bill.bill_status}}</td>
                </tr>
                <!-- Scheme Charges -->
                <tr>
                    <td colspan="3"><strong>UNITS</strong></td>
                    <td colspan="2">UNITS CONSUMED</td>
                    <td colspan="2">{{last_bill.units_consumed}}</td>
                </tr>
                
                <!-- Total Charges -->
                <tr>
                    <td colspan="3" rowspan="2"><strong>BILLING SUMMARY</strong></td>
                    <td colspan="2">PRESENT BILL AMOUNT</td>
                    <td colspan="2"> {{total_bill_without_MSC}}</td>
                </tr>
                <tr class="bg-yellow-200">
                    
                    <td colspan="2">PREVIOUS BILL REMAINING DUES</td>
                    <td colspan="2">{{lastitem.remaing_dues}}</td>
                   
                </tr>
                <!-- Payment Information -->
                <tr>
                    <td colspan="3" rowspan="2"><strong>TOTAL CHARGES</strong></td>

                    <td colspan="2">Miscellaneous Charges</td>
                    <td colspan="2">{{m_charges.miscellaneous_charges}}</td>
                  
                    
                </tr>
                <tr class="bg-yellow-200">
                    <td colspan="2"><strong>TOTAL</strong></td>
                    <td colspan="2"><strong>{{total_amount}}</strong></td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2" class="text-red-500"><strong>PAYABLE AFTER DUE DATE</strong></td>
                    <td colspan="2" class="text-red-500">PAYABLE AFTER DUE DATE</td>
                    <td colspan="2">{{total_including_fine}}</td>
                </tr>
                <tr class="bg-yellow-200">
                    <td colspan="2">-</td>
                    <td colspan="2">-</td>
                </tr>
                <!-- Reading History -->
                <tr class="bg-blue-100">
                    <td colspan="7" class="font-bold">READING HISTORY</td>
                </tr>
               
                <tr class="bg-blue-100">
                    <td>DATE</td>
                    <td>UNITS</td>
                    <td>CHARGES</td>
                    <td colspan="3">PAYMENT RECIEVED</td>
                    <td>STATUS</td>
                </tr>
              
                {% for item in history%}
                <tr>
                    <td>{{item.created_at | date:"M y" | upper }}</td>
                    <td>{{item.units_consumed}}</td>
                    <td>{{item.bill_total_amount}}</td>
                    <td colspan="3">{{item.payment_recieved}}</td>
                    {%if item.bill_status == 'ipaid'%}
                        <td>Initial paid</td>
                        {%else%}
                        <td>{{item.bill_status}}</td>
                    {%endif%}
                   
                </tr>
                {%endfor%}
                
                <tr>
                    <td colspan="4" class="py-4">
                        <img src="../media/{{last_bill.bill_reading_img}}" width="300px" height="178px" style="width: 300px !important; height: 178px !important;" alt="Meter reading image" class="meter-image">
                    </td>
                    <td colspan="4" class="py-4">
                        <img src="{% static 'css/note.jpeg'%}" width="300px" height="178px" style="width: 300px !important; height: 178px !important;" alt="Meter reading image" class="meter-image">
                    </td>
                </tr>
                <tr> 
                    <td colspan="7" class="text-center py-4 cut-line">
                        <p>----------------------------------------------------------------------------------------------------------CUT HERE-------------------------------------------------------------------------------------------------------------------------------</p>
                        <p class="font-bold text-2xl">AI-WAHAB GARDEN HOUSING SCHEME</p>
                      
                    </td>
                </tr>
                <!-- Footer Information -->
                <tr>
                    <td>BILL NO: {{last_bill.id}}</td>
                    <td><strong>DUE DATE:</strong> {{due_date | date:"d M y" | upper }}</td>
                    <td>CUSTOMER NAME: {{area_details.owners_name}}</td>
                    <td>HOUSE NO: {{area_details.house_number}} / {{area_details.area_block}}</td>
                    <td colspan="2" class=""><strong>PAYABLE BEFORE DUE DATE:</strong> {{total_amount}}</td>
                    <td colspan="2" class="text-red-500"><strong>PAYABLE AFTER DUE DATE:</strong> {{total_including_fine}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>