<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}" />
  <link rel="icon" href="../static/css/logo_icon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>

<body class="login-page p-3">
  <div class="login-box" style="text-align: center">
    <img width="140px" style="border-radius: 10px" src="{% static 'css/logo.jpg'%}" alt="" />
    <h2 class="heading-login-box">Login</h2>
    <form method="POST" id="login-form">
      {%csrf_token%}
      <div class="user-box">
        <input class="user-box-input" id="email" type="email" autocomplete="off" name="email" required />
        <label class="user-box-label">Email</label>
      </div>
      <div class="user-box">
        <input class="user-box-input" id="password" autocomplete="off" type="password" name="password" required />
        <label class="user-box-label">Password</label>
      </div>
      <p style="color: red; display: none;" id="mesg"></p>
      {%if messages%} {% for message in messages%}

      <p style="color: red" id="mesg">{{message}}</p>
      {%endfor%} {%endif%}
      <a type="submit" style="cursor: pointer; border-radius: 5px;"
        onclick="document.getElementById('login-form').submit(); return false;" class="login-box-button" href="/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
      </a>
    </form>
  </div>
  <script>
    function isValidEmail(email) {
    var regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
    return regex.test(email);
}
    document.addEventListener("keydown", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();  
        email = document.getElementById('email').value
        pass = document.getElementById("password").value
        if (isValidEmail(email) && pass != null){
          document.getElementById('login-form').submit();  // Submit the form
        }
        else{
          document.getElementById('mesg').innerHTML = "Please Enter valid Email and password!"
          document.getElementById('mesg').style.display = 'block'
        }
       
    }
});
  </script>
</body>

</html>