<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/styles.css' %}"
    />
    <title>Document</title>
  </head>
  <body class="login-page">
    <div class="login-box" style="text-align: center">
      <img
        width="140px"
        style="border-radius: 10px"
        src="{% static 'css/logo.jpg'%}"
        alt=""
      />
      <h2 class="heading-login-box">Login</h2>
      <form method="POST" id="login-form">
        {%csrf_token%}
        <div class="user-box">
          <input class="user-box-input" type="email" name="email" required />
          <label class="user-box-label">Email</label>
        </div>
        <div class="user-box">
          <input
            class="user-box-input"
            type="password"
            name="password"
            required
          />
          <label class="user-box-label">Password</label>
        </div>
        {%if messages%} {% for message in messages%}

        <p style="color: red">{{message}}</p>
        {%endfor%} {%endif%}
        <a
          type="submit"
          style="cursor: pointer"
          onclick="document.getElementById('login-form').submit(); return false;"
          class="login-box-button"
          href="/"
        >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Login
        </a>
      </form>
    </div>
  </body>
</html>
